@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /*Colors Primary*/
  --blue-950: hsl(213, 96%, 18%);
  --black: hsla(0, 0%, 0%, 1);
  --blue-300: hsl(228, 100%, 84%);
  --blue-200: hsl(206, 94%, 87%);
  --red-500: hsl(354, 84%, 57%);
  /*Colors Neutral*/
  --gray-1: hsl(230, 3%, 62%);
  --light-gray: hsl(231, 100%, 99%);
  --gray: hsl(252, 7%, 86%);
  --grey-500: hsl(231, 11%, 63%);
  --violet: hsl(243, 31%, 44%);
  --violet-2: hsl(243, 100%, 62%);
  --light-violet: hsl(230, 75%, 98%);
  --purple-200: hsl(229, 24%, 87%);
  --blue-100: hsl(218, 100%, 97%);
  --white: hsl(0, 0%, 100%);

  /* Fonts Weights */
  --weight-regular: 400;
  --weight-normal: 500;
  --weight-bold: 700;

  /*Spacing*/
  --size-ms: 0.5rem;
  --size-xxs: 0.75rem;
  --size-xs: 1rem;
  --size-s: 1.25rem;
  --size-m: 1.5rem;
  --size-l: 1.75rem;
  --size-xl: 2rem;
  --size-xxl: 2.5rem;
  --size-3xl: 2.75rem;
  --size-4xl: 3rem;

  /* typography */
  --font-size-xxs: 0.75rem;
  --font-size-xs: 0.875rem;
  --font-size-s: 1rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-2xl: 2.25rem;
  --font-size-3xl: 2.5rem;
  --font-size-4xl: 2.75rem;

  /*Shadows*/
  --shadow-s: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-m: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-l: 0 10px 15px rgba(0, 0, 0, 0.1);

  /*Transitions*/
  --transition-s: 0.2s ease-in-out;
  --transition-m: 0.3s ease-in-out;
  --transition-l: 0.5s ease-in-out;

  /*Site Size*/
  --mobile-width: 375px;
  --tablet-width: 768px;
  --desktop-width: 1440px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: var(--blue-100);
  font-family: "Ubuntu", sans-serif;
  font-weight: var(--weight-regular);
  font-style: normal;
  display: grid;
  place-items: center;
}

/* navigation container */
.nav-step-container {
  width: 274px;
  height: 568px;
  background-color: var(--blue-950);
  border-radius: var(--size-xs);
  /* 16px */
  margin-right: var(--size-m);
  /* 40px */
  position: relative;
}

.nav-step-container img {
  width: 274px;
  height: 568px;
}

.steps-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--size-xl);
  /* 32px */
  width: 147px;
  height: 224px;
  margin-block-start: var(--size-xxl);
  /* 40px */
  margin-inline-start: var(--size-xl);
  /* 32px */
  position: absolute;
  inset: 0;
}

.step-item {
  display: flex;
  align-items: center;
  gap: var(--size-xs);
  /* 1rem */
  width: 100%;
  color: var(--white);
  font-weight: var(--weight-bold);
  font-size: 1rem;
  text-transform: uppercase;
}

.step-item .step-item-index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size-xl);
  /* 2.75rem */
  height: var(--size-xl);
  /* 2.75rem */
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.step-item .step-item-index[aria-current="step"] {
  background-color: var(--blue-200);
  color: var(--blue-950);
  border-color: var(--blue-200);
}

.step-item .step-item-number {
  width: fit-content;
  color: var(--grey-500);
  font-weight: var(--weight-normal);
  font-size: var(--size-xxs);
}

.step-item .step-item-title {
  width: fit-content;
  color: var(--white);
  font-weight: var(--weight-bold);
  font-size: .9rem;
  text-wrap: nowrap;
}

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  height: 600px;
  background-color: var(--white);
  border-radius: var(--size-xs);
  /* 16px */
  padding: var(--size-m);
  padding-inline-end: var(--size-4xl);
  margin-block-start: 105px;
  margin-inline-start: 250px;
}

/* multi form container */
#multi-form {
  width: 450px;
  height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-start: var(--size-xl);
  /* 2rem */
  padding-block-end: var(--size-xs);
  /* 1rem */
}

/* Step card */
.step-card {
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 450px;
  height: 568px;
  opacity: 1;
  pointer-events: none;
}

.step-card.active {
  display: flex;
  opacity: 1;
  pointer-events: auto;
}

.step-card fieldset {
  border: none;
}

/* Step 1 - Plan Selection */
.personal-info-header {
  width: 100%;
  height: 67px;
  color: var(--grey-500);
  font-size: .9rem;
  font-weight: var(--weight-normal);
  color: var(--blue-950);
  font-size: var(--font-size-xl);
  font-weight: var(--weight-bold);
}

.personal-info-header .span-personal-info {
  color: var(--grey-500);
  font-size: var(--font-size-s);
  font-weight: var(--weight-regular);
}

.input-personal-group {
  display: flex;
  flex-direction: column;
  padding-block-start: var(--size-xxl);
  width: 100%;
  height: 304px;
  color: var(--blue-950);
}

.input-personal-group input {
  width: 100%;
  height: 48px;
  padding-inline: var(--size-xs);
  /* 16px */
  padding-block: var(--size-xs);
  /* 12px */
  margin-block-start: var(--size-ms);
  /* 8px */
  margin-block-end: var(--size-l);
  /* 1.75rem */
  border: 1px solid var(--purple-200);
  border-radius: var(--size-ms);
  /* 8px */
  corner-shape: quadratic;
}

.input-personal-group input::placeholder {
  font-weight: var(--weight-bold);
}

/* Step 2: Select plan */

.plan-item-container {
  display: flex;
  justify-content: space-between;
  gap: var(--size-xl);
  /* 2rem */
  padding-block-start: var(--size-xxl);
  /* 2.5rem */
  width: 450px;
  height: 234px;
}

.plan-item input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.plan-item input[type="radio"]:checked+.plan-card {
  border-color: #473dff;
  background-color: #f8f9ff;
}

.plan-card {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 133.33px;
  height: 160px;
  padding: var(--size-m);
  /* 1.5rem */
  border: 1px solid var(--gray);
  border-radius: var(--size-ms);
  /* 8px */
  background-color: var(--white);
  cursor: pointer;
  transition: all 0.3s ease;
}

.plan-card:hover {
  border-color: #473dff;
}

.plan-card .plan-details {
  width: 101.33px;
  height: 38px;
}

.plan-icon {
  width: 40px;
  height: 40px;
  margin-bottom: var(--size-xl);
  /* 2.5rem */
}

.plan-name {
  display: block;
  color: #02295a;
  font-weight: 700;
  margin-bottom: 4px;
}

.plan-price {
  color: #9699ab;
  font-size: 0.9rem;
}

.billing-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-xl);
  /* 2rem */
  width: 450px;
  height: 42px;
  background-color: var(--light-gray);
  padding: var(--size-ms);
  /* .5rem */
  border-radius: var(--size-ms);
  /* 8px */
}

.toggle-label {
  color: #9699ab;
  font-weight: 700;
  font-size: 0.9rem;
  transition: color 0.3s ease;
}

.toggle-label.active {
  color: #02295a;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  /* 1.5rem */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #02295a;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.switch input:checked+.slider:before {
  transform: translateX(20px);
}

/* Step 3: Add-ons */
.addons-item-container {
  display: flex;
  flex-direction: column;
  gap: var(--size-xs);
  padding-block-start: var(--size-xl);
  /* 2rem */
  width: 450px;
  height: 266px;
}

.addon-item {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 78px;
  padding-inline: var(--size-m);
  /* 24px */
  padding-block: var(--size-s);
  /* 1.25rem */
  border: 1px solid var(--gray-1);
  border-radius: var(--size-ms);
  /* 8px */
  background-color: var(--white);
}

.addon-item:hover {
  outline: 2px solid var(--violet);
}

.addon-item input[type="checkbox"] {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  pointer-events: none;
}

.addon-item input[type="checkbox"]:checked {
  opacity: 1;
  pointer-events: auto;
  background-color: var(--violet-2);
}

.addon-item:has(input[type="checkbox"]:checked) {
  border-color: var(--violet);
  background-color: var(--light-violet);
}

.addon-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--size-s);
  /* 1.25rem */
  width: 100%;
  height: 48px;
  background-color: transparent;
}

.addon-card .addon-details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 284px;
  height: 38px;
  margin-inline-start: 40px;
}

.addon-name {
  color: var(--black);
  font-weight: var(--weight-bold);
  line-height: 100%;
  width: 284px;
  height: 18px;
}

.addon-description {
  color: var(--gray-1);
  font-size: 0.857rem;
  line-height: 100%;
  width: 284px;
  height: 16px;
}

.addon-price {
  color: var(--violet);
  font-size: 0.857rem;
  line-height: 100%;
  width: 50px;
  height: 16px;
}

/* Step 4: Summary */

.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-block-start: var(--size-xl); /* 2rem */
  padding-block-end: var(--size-s); /* 1.25rem */
}

.summary-container .dynamically-selected-options {
  display: flex;
  flex-direction: column;
  gap: var(--size-xl); /* 2rem */
  width: 450px;
  height: 229px;
}

/* footer buttons container */
.footer-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--size-s);
  /* 1.5rem */
  width: 100%;
}

.footer-buttons-container .buttons-group button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: var(--size-ms);
  /* 8px */
  background-color: var(--blue-950);
  color: var(--white);
  font-weight: var(--weight-bold);
  font-size: .9rem;
  cursor: pointer;
}

/* Step 5: Confirmation */
.step-confirmation {
  display: none;
  opacity: 0;
  pointer-events: none;
}

button:focus-visible,
input:focus-visible {
  outline: 2px solid;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none;
  }
}